@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
    margin:0;
    padding: 0;
    background-size: 100% 100%;
    font-family: 'Oswald', sans-serif;
    background: url('../img/wallpaper_login.jpg')no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
@media screen and (max-width:800px){
    body{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
.register-box{
    
    width: 400px;
    height: 650px;  
    background: rgb(10, 21, 37);
    border-radius: 20px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 25px 50px 70px 50px;
    margin-top  : 50px;
    margin-bottom: 50px;
      
}.register-box h1 {
    margin: 0;
    
    text-align: center;
    font-size: 22px;
  }
  
  .register-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .register-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .register-box input[type="text"], .register-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .register-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #224b72;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .register-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .register-box a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: darkgrey;
  }
  
  .register-box a:hover {
    color: #fff;
  }