@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}
 
body {
	background:#cecece;
}
 
header {
	position:fixed;
	width:100%;
	z-index: 100;
}
 
header nav {
    
	background:rgba(0,0,0, .7)
}
 
.menu_bar {
	display:none;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#037E8C;
}
header nav ul li.account{
	float: right;
}

.img_banner{
	width: 100%;
	padding: 0;
	height: 350px;
}
.header_banner{
	padding-top: 64px;
}
.container{
	padding: 20px;
}
@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .btn-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}

/*ITEMS*/
.row{
    background-color: none;
  width: calc(100% - 20pt);
  height: 200pt;
  margin-left: 20pt;
  margin-bottom: 20pt;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space:nowrap
}
.item {
  display: inline-block;
  width: 250pt;
  height: 200pt;
  background-color: #fff;
  border-radius: 6pt;
  margin-right: 15pt;
  transition: 0.2s ease-in-out;
}
.item:link, .item:visited, .item:active {
  color: #333;
  text-decoration: none;
}
.item:hover {
  opacity: 0.75;
  transform: scale(0.98);
  color: #333;
  text-decoration: none;
}
.image {
  height: 150pt;
  width: 250pt;
  background-color: #ddd;
  border-radius: 6pt 6pt 0pt 0pt;
  background-size: cover;
  background-position: center center;
}
.item_description {
  margin: 0;
  padding-top: 18pt;
  font-size: 17px;
  margin-left: 10pt;
  margin-right: 10pt;
  text-align: center;
  font-family: monospace;
}